*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 15px 30px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container h2{
    text-transform: capitalize;
}

.container .quiz-container{
    height: 350px;
    background-color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.quiz-container .options{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options .answer{
    list-style: none;
    height: auto;
    width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    /* transition: .4s; */
}


.answer.right{
    color: darkgreen;
    border-color: darkgreen;
    background-color: lightgreen;
}

.answer.wrong{
    color:darkred;
    border-color:darkred;
    background-color: tomato;
}



.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.btn-container p{
    font-weight: bold;
}

.btn-container button{
    /* height: 30px; */
    padding: 8px 15px;
    border: 1px solid cornflowerblue;
    outline: 0;
    font-size: 18px;
    background-color: cornflowerblue;
    border-radius: 6px;
    text-transform: capitalize;
    color: white;
    transition: .5s;
}

.btn-container button:hover{
    background-color: white;
    color: cornflowerblue;
}